In [29]:
import pandas as pd

In [30]:
df=pd.read_csv('kstudentbiodata_csv.csv')

In [31]:
df

,RegNumb,surname,mname,lastname,email,StateOfOrigin,LGA,Sex,faculty,dept,Course,duration,Tel_no,level,admode,RefNumb,sn
0,1.21E+11,BADA,NaN,Busola,bada.busola2019@st.uniabuja.edu.ng,NaN,NaN,F,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6603
1,2.81E+11,UGWU,Vincent,Nnabuike,ugwu.nnabuike2019@st.uniabuja.edu.ng,Enugu,NaN,M,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6602
2,30717102447,ELIAS-MOMOH,NaN,Mercy,elias-momoh.mercy2019@st.uniabuja.edu.ng,Kogi,NaN,F,Faculty Of Education,Department Of Science And Environmental Educa...,Postgraduate Diploma in Education,NaN,0.0,NaN,NaN,NaN,6587
3,21117084540,ABDULLAHI,NaN,Aliyu,abdullahi.aliyu2019@st.uniabuja.edu.ng,Sokoto,NaN,M,Faculty Of Management Sciences,Department of Public Administration,Postgraduate Diploma in Public Administration...,NaN,0.0,NaN,NaN,NaN,6593
4,80318204100,AKAWE,Felix,Amaru,akawe.amaru2019@st.uniabuja.edu.ng,Delta,NaN,M,Faculty Of Management Sciences,Department of Banking and Finance,PGD. Banking and Finance,NaN,0.0,NaN,NaN,NaN,6589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,17283022,5954
27154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,17283022,5955
27155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
27156,0,100,NaN,NaN,NaN,NaN,NaN,6619,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
27157,75443315FI,UNAGHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0

In [32]:
import pandas as pd

In [33]:
df.head()

,RegNumb,surname,mname,lastname,email,StateOfOrigin,LGA,Sex,faculty,dept,Course,duration,Tel_no,level,admode,RefNumb,sn
0,1.21E+11,BADA,NaN,Busola,bada.busola2019@st.uniabuja.edu.ng,NaN,NaN,F,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6603
1,2.81E+11,UGWU,Vincent,Nnabuike,ugwu.nnabuike2019@st.uniabuja.edu.ng,Enugu,NaN,M,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6602
2,30717102447,ELIAS-MOMOH,NaN,Mercy,elias-momoh.mercy2019@st.uniabuja.edu.ng,Kogi,NaN,F,Faculty Of Education,Department Of Science And Environmental Educa...,Postgraduate Diploma in Education,NaN,0.0,NaN,NaN,NaN,6587
3,21117084540,ABDULLAHI,NaN,Aliyu,abdullahi.aliyu2019@st.uniabuja.edu.ng,Sokoto,NaN,M,Faculty Of Management Sciences,Department of Public Administration,Postgraduate Diploma in Public Administration...,NaN,0.0,NaN,NaN,NaN,6593
4,80318204100,AKAWE,Felix,Amaru,akawe.amaru2019@st.uniabuja.edu.ng,Delta,NaN,M,Faculty Of Management Sciences,Department of Banking and Finance,PGD. Banking and Finance,NaN,0.0,NaN,NaN,NaN,6589

In [34]:
df.dtypes

RegNumb           object
surname           object
mname             object
lastname          object
email             object
StateOfOrigin     object
LGA               object
Sex               object
faculty           object
dept              object
Course            object
duration          object
Tel_no           float64
level             object
admode            object
RefNumb           object
sn                 int64
dtype: object

In [35]:
df.tail()

,RegNumb,surname,mname,lastname,email,StateOfOrigin,LGA,Sex,faculty,dept,Course,duration,Tel_no,level,admode,RefNumb,sn
27153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,17283022,5954
27154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,17283022,5955
27155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
27156,0,100,NaN,NaN,NaN,NaN,NaN,6619,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
27157,75443315FI,UNAGHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0

In [36]:
df.shape

(27158, 17)

In [37]:
pd.set_option('display.max_columns',17)

In [38]:
df.dropna()

Empty DataFrame
Columns: [RegNumb, surname, mname, lastname, email, StateOfOrigin, LGA, Sex, faculty, dept, Course, duration, Tel_no, level, admode, RefNumb, sn]
Index: []

In [39]:
df.dropna(axis='index', how='any')

Empty DataFrame
Columns: [RegNumb, surname, mname, lastname, email, StateOfOrigin, LGA, Sex, faculty, dept, Course, duration, Tel_no, level, admode, RefNumb, sn]
Index: []

In [40]:
import numpy as np

In [41]:
 df [df.isnull ().any (axis=1)]

,RegNumb,surname,mname,lastname,email,StateOfOrigin,LGA,Sex,faculty,dept,Course,duration,Tel_no,level,admode,RefNumb,sn
0,1.21E+11,BADA,NaN,Busola,bada.busola2019@st.uniabuja.edu.ng,NaN,NaN,F,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6603
1,2.81E+11,UGWU,Vincent,Nnabuike,ugwu.nnabuike2019@st.uniabuja.edu.ng,Enugu,NaN,M,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6602
2,30717102447,ELIAS-MOMOH,NaN,Mercy,elias-momoh.mercy2019@st.uniabuja.edu.ng,Kogi,NaN,F,Faculty Of Education,Department Of Science And Environmental Educa...,Postgraduate Diploma in Education,NaN,0.0,NaN,NaN,NaN,6587
3,21117084540,ABDULLAHI,NaN,Aliyu,abdullahi.aliyu2019@st.uniabuja.edu.ng,Sokoto,NaN,M,Faculty Of Management Sciences,Department of Public Administration,Postgraduate Diploma in Public Administration...,NaN,0.0,NaN,NaN,NaN,6593
4,80318204100,AKAWE,Felix,Amaru,akawe.amaru2019@st.uniabuja.edu.ng,Delta,NaN,M,Faculty Of Management Sciences,Department of Banking and Finance,PGD. Banking and Finance,NaN,0.0,NaN,NaN,NaN,6589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,17283022,5954
27154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,17283022,5955
27155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
27156,0,100,NaN,NaN,NaN,NaN,NaN,6619,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
27157,75443315FI,UNAGHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0

In [42]:
df ['Sex'].value_counts ()

M         13809
F         11803
M            76
F            25
M.            2
C             2
N             1
Female        1
FEMALE        1
6619          1
Name: Sex, dtype: int64

In [43]:
cleanup_sex={"sex":{"m":1, "f":3}}

In [44]:
df ['level'].value_counts ()

100          11189
200LEVELS      101
200Levels       55
100Levels       36
100LEVEL        30
100LEVELS       16
200              3
Name: level, dtype: int64

In [45]:
cleanup_level={"level":{"100":1,"200LEVELS":4,"0":4,"200":4, "200LEVELS":4}}

In [46]:
df.replace(cleanup_level,inplace= True)

In [47]:
cleanup_admode={"admode": {"UTME":10,"DE":20}}

In [48]:
df.replace(cleanup_admode,inplace= True)

In [49]:
df.head()

,RegNumb,surname,mname,lastname,email,StateOfOrigin,LGA,Sex,faculty,dept,Course,duration,Tel_no,level,admode,RefNumb,sn
0,1.21E+11,BADA,NaN,Busola,bada.busola2019@st.uniabuja.edu.ng,NaN,NaN,F,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6603
1,2.81E+11,UGWU,Vincent,Nnabuike,ugwu.nnabuike2019@st.uniabuja.edu.ng,Enugu,NaN,M,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6602
2,30717102447,ELIAS-MOMOH,NaN,Mercy,elias-momoh.mercy2019@st.uniabuja.edu.ng,Kogi,NaN,F,Faculty Of Education,Department Of Science And Environmental Educa...,Postgraduate Diploma in Education,NaN,0.0,NaN,NaN,NaN,6587
3,21117084540,ABDULLAHI,NaN,Aliyu,abdullahi.aliyu2019@st.uniabuja.edu.ng,Sokoto,NaN,M,Faculty Of Management Sciences,Department of Public Administration,Postgraduate Diploma in Public Administration...,NaN,0.0,NaN,NaN,NaN,6593
4,80318204100,AKAWE,Felix,Amaru,akawe.amaru2019@st.uniabuja.edu.ng,Delta,NaN,M,Faculty Of Management Sciences,Department of Banking and Finance,PGD. Banking and Finance,NaN,0.0,NaN,NaN,NaN,6589

In [50]:
import matplotlib.pyplot as plt

In [51]:
df.head()

,RegNumb,surname,mname,lastname,email,StateOfOrigin,LGA,Sex,faculty,dept,Course,duration,Tel_no,level,admode,RefNumb,sn
0,1.21E+11,BADA,NaN,Busola,bada.busola2019@st.uniabuja.edu.ng,NaN,NaN,F,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6603
1,2.81E+11,UGWU,Vincent,Nnabuike,ugwu.nnabuike2019@st.uniabuja.edu.ng,Enugu,NaN,M,Faculty Of Basic Medical Sciences,Department of Community Medicine,Masters in Sexual and Reproductive Health,NaN,0.0,NaN,NaN,NaN,6602
2,30717102447,ELIAS-MOMOH,NaN,Mercy,elias-momoh.mercy2019@st.uniabuja.edu.ng,Kogi,NaN,F,Faculty Of Education,Department Of Science And Environmental Educa...,Postgraduate Diploma in Education,NaN,0.0,NaN,NaN,NaN,6587
3,21117084540,ABDULLAHI,NaN,Aliyu,abdullahi.aliyu2019@st.uniabuja.edu.ng,Sokoto,NaN,M,Faculty Of Management Sciences,Department of Public Administration,Postgraduate Diploma in Public Administration...,NaN,0.0,NaN,NaN,NaN,6593
4,80318204100,AKAWE,Felix,Amaru,akawe.amaru2019@st.uniabuja.edu.ng,Delta,NaN,M,Faculty Of Management Sciences,Department of Banking and Finance,PGD. Banking and Finance,NaN,0.0,NaN,NaN,NaN,6589

In [55]:
# fig, ax = plt.subplots()

In [25]:
from mpl_toolkits.mplot3d  import Axes3D

In [26]:
labels=['f','m']

In [27]:
colors=['red','blue']

In [54]:
patches,text =plt.pie(colors=colors, shadow=False, strangle=100)

TypeError: pie() missing 1 required positional argument: 'x'

In [ ]:
plt.legend(patches,labels,loc="best")

In [ ]:
plt.title("STUDENTS GENDER PERCENTAGE")

In [ ]:
plt.axis('equal')

In [ ]:
plt.tight_layout()

In [ ]:
plt.show

In [ ]:
labels=['Faculty of Management Sciences' , 'Faculty of Agriculture' ,'Faculty of Sciences' , 'Faculty of Arts' , 'Faculty of Social Science' , 'Faculty of Engineering']

In [ ]:
colors=['green','gold' 'purple','lightskyblue' 'red','blue']

In [ ]:
patches,text =plt.pie(colors=colors, shadow=False,starangle=100)

In [ ]:
plt.legend(patches,labels,loc="best")

In [ ]:
plt.axis('equal')

In [ ]:
plt.title("STUDENTS PERCENTAGE PER FACULTY")

In [ ]:
plt.tight_layout()

In [ ]:
plt.show

In [ ]:
labels=[ 'BASIC MEDICAL SCIENCES' ,'Faculty of Management Sciences' , 'Faculty of Agriculture' ,'Faculty of Sciences' , 'Faculty of Arts' , 'Faculty of Social Science' , 'Faculty of Engineering']

In [ ]:
colors=['black','green','gold' 'purple','lightskyblue' 'red','blue']

In [ ]:
text =plt.pie(colors=colors, shadow=False,starangle=200)

In [ ]:
plt.legend(patches,labels,loc="best")

In [ ]:
plt.title("STUDENTS PERCENTAGE PER FACULTY")

In [ ]:
plt.axis('equal')

In [ ]:
plt.tight_layout()

In [ ]:
plt.show

In [ ]:
import seaborn as sns

In [ ]:
#a simple plot using seaborn showing the count plot of faculty againsts sex